SERVER_DOMAIN="${server_domain}"
EMAIL_FROM="${email.gatus}"
EMAIL_TO="${email.owner}"
SMTP_HOST="$${SMTP_HOST}"
SMTP_USERNAME="$${SMTP_USERNAME}"
SMTP_PASSWORD="$${SMTP_PASSWORD}"
CLIENT_ID='${auth.client_id}'
CLIENT_SECRET='${auth.client_secret}'
