users:
  jeremy:
    displayname: Jeremy Nguyen
    password: ${user_config.password}
    email: ${user_config.email_address}
    groups: []
    given_name: "Jeremy"
    middle_name: ""
    family_name: "Nguyen"
    nickname: ""
    gender: ""
    birthdate: ""
    website: ""
    profile: ""
    picture: ""
    zoneinfo: ""
    locale: ""
    phone_number: ""
    phone_extension: ""
    disabled: false
    address: null
    extra: {}
