HOST="wg-easy"
PORT=51821
WG_HOST="vpn.${server_domain}"
DISABLE_IPV6=true
OAUTH_PROVIDERS="oidc"
OAUTH_AUTO_REGISTER=true
OAUTH_OIDC_SERVER="https://auth.${server_domain}"
OAUTH_OIDC_CLIENT_ID="${auth.client_id}"
OAUTH_OIDC_CLIENT_SECRET="${auth.client_secret}"
OAUTH_OIDC_NAME="Authelia"
INIT_ENABLED=true
INIT_USERNAME=admin
INIT_PASSWORD="${auth.client_secret}"
INIT_HOST="vpn.${server_domain}"
INIT_PORT=51820
